@model PublicacionCrearVM

@{
    ViewData["Title"] = "Crear Publicación";
}


@section Styles {
    <!-- Fancybox ui v5.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@@5.0/dist/fancybox/fancybox.css" />

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/publicaciones/publicacion-crear.css">
}


<div class="contenedor-crear">
    <form asp-area="Aliado" asp-controller="Publicaciones" asp-action="Crear" method="post" enctype="multipart/form-data">
        <div class="titulo-imagenes">
            <section class="section-titulo">
                <div class="editable" contenteditable="true">Titulo</div>
                <div class="editable-direccion" contenteditable="true">Dirección</div>
                <div class="editable-descripcion" contenteditable="true">Descripción</div>
                <input type="text" asp-for="Titulo" hidden />
                <input type="text" asp-for="Direccion" hidden />
                <input type="text" asp-for="Descripcion" hidden />
            </section>

            <section class="upload-container">
                <h2>Arrastra y Suelta Tus Imágenes</h2>
                <div id="drop-zone" class="drop-zone">
                    <p>Arrastra y suelta tus imágenes aquí o haz clic para cargar</p>
                    <input type="file" id="imageInput" accept="image/*" multiple>
                </div>
                <div id="preview-container" class="preview-container"></div>
            </section>
        </div>

        <div class="hr"></div>

        @foreach (var servicio in Model.ServiciosHabitacion)
        {
            <div>
                <input type="checkbox" asp-for="@servicio.Seleccionado" id="@servicio.Id" />
                <label for="@servicio.Id">@servicio.Nombre</label>
            </div>
        }

        <div class="hr"></div>


        @foreach (var servicio in Model.ServiciosEstablecimiento)
        {
            <div>
                <input type="checkbox" asp-for="@servicio.Seleccionado" id="@servicio.Id" />
                <label for="@servicio.Id">@servicio.Nombre</label>
            </div>
        }

        <div class="hr"></div>

        @foreach (var servicio in Model.ServiciosAccesibilidad)
        {
            <div>
                <input type="checkbox" asp-for="@servicio.Seleccionado" id="@servicio.Id" />
                <label for="@servicio.Id">@servicio.Nombre</label>
            </div>
        }

        <div class="hr"></div>





        <button type="submit">Enviar</button>












    </form>
</div>









@section Scripts {
    <!-- Sortable.js -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script type="module" src="~/js/publicaciones/publicacionCrear.js"></script>
}
