@* @model IEnumerable<Dviaje.Models.Resena>

@{
    ViewData["Title"] = "Reseñas";
}

@section Styles {

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/page/site.css">
}


<div class="grid-container">
    @foreach (var resena in Model)
    {
        <div class="card">
            <div class="status">
                @resena.Calificacion estrellas
            </div>
            <div class="card-content">
                <h3 class="card-title">Reseña @resena.IdResena</h3>
                <p>@resena.Opinion</p>
            </div>
            <div class="card-footer">
                <span>@resena.MeGusta Me gusta(s)</span>
                <a href="@Url.Action("Detalle", "Resena", new { id = resena.IdResena })" class="card-link">Ver más →</a>
            </div>
        </div>
    }
</div>

<div class="pagination">
    @if (ViewBag.PaginaActual > 1)
    {
        <a href="@Url.Action("Disponibles", new { paginaActual = ViewBag.PaginaActual - 1 })">Anterior</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
    {
        <a href="@Url.Action("Disponibles", new { paginaActual = i })" @(i == ViewBag.PaginaActual ? "class=active" : "")>@i</a>
    }

    @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
    {
        <a href="@Url.Action("Disponibles", new { paginaActual = ViewBag.PaginaActual + 1 })">Siguiente</a>
    }
</div>
 *@