@* @model List<ResenaTarjetaVM>

@{
    ViewBag.Title = "Mis Reseñas";
}

@section Styles {

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/page/site.css">
}




<h2>Mis Reseñas</h2>

@if (Model.Any())
{
    <div class="resena-list">
        @foreach (var item in Model)
        {
            <div class="resena-item">
                 <h3>@item.Reserva.Titulo</h3> 
                <p>@item.Opinion</p>
                <small>@item.Fecha.ToShortDateString()</small>
                <p>Calificación: @item.Calificacion</p>
                <p>Me Gusta: @item.MeGusta</p>
            </div>
        }
    </div>

    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("MisReseñas", new { paginaActual = page }))
    </div>
}
else
{
    <p>No has realizado ninguna reseña.</p>
}
 *@