@model List<PublicacionTarjetaVM>


@{
    ViewData["Title"] = "Publicaciones";
}


@section Styles {
    <!-- Swiper v11 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/publicaciones/publicaciones.css">
}


<div class="main">
    <!-- Sección búsqueda -->
    <div class="nav-busqueda">
        <!-- Ordenar -->
        <div class="ordenar">
            <span class="ordenar-titulo">Ordenar Por</span>
            <div class="dropdown" id="ordenar-filtro"></div>
        </div>
    </div>


    <!-- Publicaciones -->
    <section class="publicaciones">
        @if (Model != null && Model.Any())
        {
            foreach (var publicacion in Model)
            {
                <article class="publicacion b-s-95">
                    <!-- Imagenes -->
                    <div class="publicacion-imagen">
                        <div class="swiper swiper-imagenes">
                            <div class="swiper-wrapper">
                                @if (publicacion.Imagenes != null)
                                {
                                    foreach (var imagen in publicacion.Imagenes)
                                    {
                                        <div class="swiper-slide">
                                            <img src="@imagen.Ruta" alt="@imagen.Alt" id="@($"img-publicacion-{imagen.IdPublicacion}")" class="img-f">
                                        </div>
                                    }
                                }
                            </div>

                            <div class="swiper-imagenes-pagination"></div>

                            <div class="swiper-imagenes-botones">
                                <div class="swiper-imagenes-prev">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </div>
                                <div class="swiper-imagenes-next">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Datos -->
                    <div class="publicacion-informacion">
                        <div class="publicacion-informacion-header">
                            <a asp-area="Dviaje" asp-controller="Perfil" asp-action="Index" asp-route-idUsuario="@publicacion.AliadoId" class="informacion-header-avatar">
                                <div class="header-avatar">
                                    <img src="@publicacion.AvatarAliado" alt="@($"Avatar del aliado {publicacion.NombreAliado}")" class="img-f">
                                </div>
                                <div>
                                    <p>
                                        @publicacion.NombreAliado
                                        @if (publicacion.Verificado)
                                        {
                                            <span class="header-avatar-verificado">
                                                <i class="fa-solid fa-suitcase-rolling"></i>
                                            </span>
                                        }
                                    </p>
                                    <div>
                                        <span>@publicacion.TotalPublicacionesAliado.ToString("N")</span>
                                        <span>Publicaciones</span>
                                    </div>
                                </div>
                            </a>
                            <div class="informacion-header-precio">
                                <span>$</span>
                                <span>@publicacion.Precio.ToString("N0")</span>
                            </div>
                        </div>
                        <div class="publicacion-informacion-texto">
                            <a asp-area="Dviaje" asp-controller="Publicaciones" asp-action="Publicacion" asp-route-id="@publicacion.IdPublicacion">
                                <h1>@publicacion.Titulo</h1>
                            </a>
                            <div class="informacion-texto-puntuacion">
                                <span>@publicacion.Puntuacion.ToString("0.0")</span>
                                <a href="" class="texto-puntuacion-estrellas">
                                    <div>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <div style="@($"width: {((publicacion.Puntuacion * 100) / 5).ToString()}%")">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span>@publicacion.NumeroResenas.ToString("N")</span>
                                        <span>Reseñas</span>
                                    </div>
                                </a>
                            </div>
                            <a href="" class="informacion-texto-ubicacion">
                                <span><i class="fa-solid fa-location-dot"></i></span>
                                <span>@publicacion.Direccion</span>
                            </a>
                            <p class="informacion-texto-descripcion">@publicacion.Descripcion</p>
                        </div>
                        <div class="publicacion-informacion-botones">
                            <div class="publicacion-categorias">
                                <div class="swiper-wrapper-categorias">
                                    <div class="swiper-wrapper wrapper-categorias">
                                        @if (publicacion.Categorias != null && publicacion.Categorias.Any())
                                        {
                                            foreach (var categoria in publicacion.Categorias)
                                            {
                                                <a href="" class="swiper-slide swiper-slide-categorias">
                                                    <i class="@categoria.RutaIcono"></i>
                                                    <span class="slide-categorias-nombre">@categoria.NombreCategoria</span>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <a asp-area="Dviaje" asp-controller="Publicaciones" asp-action="Publicacion" asp-route-id="@publicacion.IdPublicacion" class="button-23">Reservar</a>
                            <a asp-area="Turista" asp-controller="Reserva" asp-action="Reservar" asp-route-idPublicacion="@publicacion.IdPublicacion" class="button-87-main">Ver más</a>
                        </div>
                    </div>
                </article>
            }
        }
    </section>


    <!-- Paginación -->
     <div class="paginacion" id="paginacion" data-paginacion-paginas="10" data-paginacion-items="5" data-paginacion-resultados="50"></div>
 





@section Scripts {
    <script src="~/js/publicaciones/publicaciones.js" type="module"></script>
}





@*     <div class="paginacion" id="paginacion" data-paginacion-paginas="10" data-paginacion-items="5" data-paginacion-resultados="50">
        <div>
            <div class="paginacion-items">
                <div class="paginacion-items-nav"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="paginacion-items-points">...</div>
                <div class="paginacion-items-numbers">1</div>
                <div class="paginacion-items-numbers">10</div>
                <div class="paginacion-items-points">...</div>
                <div class="paginacion-items-nav"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
            <p>Mostrando resultados de 1 a 30 de 497</p>
        </div>
    </div> *@






@*     <div
        id="pagination-wrapper"
        data-paginacion-total="@(Model.Paginacion != null ? Model.Paginacion.PaginasTotales : 0)"
        data-paginacion-resultados-mostrados="@(Model.Paginacion != null ? Model.Paginacion.ResultadosMostrados : 0)"
        paginacion-resultados-totales="@(Model.Paginacion != null ? Model.Paginacion.ResultadosTotales : 0)">
    </div> *@

