@model PublicacionVM

@{
    ViewData["Title"] = "Publicación";
}

@section Styles {
    <!-- Swiper v11 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Font-awesome v6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <!-- Fancybox ui v5.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@@5.0/dist/fancybox/fancybox.css" />

    <!-- Utilidades -->
    <link rel="stylesheet" href="~/css/page/utilidades.css">

    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/page/publicacion.css">
}


<div class="flex flex-col lg:flex-row lg:items-center overflow-hidden bg-neutral-950">
    <!-- Carrusel imágenes -->
    <section class="flex flex-col w-full h-dvh p-4 overflow-hidden md:flex-row lg:order-2 lg:pl-0">
        <!-- Slider main container -->
        <div class="carrusel-imagenes-main relative w-full h-[80%] rounded-t-xl overflow-hidden md:w-[70%] md:h-full md:rounded-bl-xl md:rounded-tr-none xl:w-full">

            <!-- Botón favorito -->
            <button class="absolute top-0 right-0 text-4xl mt-1 mx-2 z-20 text-white">
                <i class="fa-regular fa-heart"></i>
            </button>

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper w-full h-full">
                <!-- Slides -->
                <!-- Imagen Full -->
                <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
                   class="swiper-slide w-full h-full">
                    <!-- Imagen Carrusel -->
                    <img src="https://images.unsplash.com/photo-1718115257239-7246f434a7b0?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </a>
                <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery" class="swiper-slide">
                    <!-- Imagen Carrusel -->
                    <img src="https://images.unsplash.com/photo-1718046254335-d9ff832c9c3c?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </a>
                <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery" class="swiper-slide">
                    <!-- Imagen Carrusel -->
                    <img src="https://images.unsplash.com/photo-1689602037070-fec2eca3f5b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </a>
                <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery" class="swiper-slide">
                    <!-- Imagen Carrusel -->
                    <img src="https://images.unsplash.com/photo-1718125188885-7ce699512931?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </a>
            </div>

            <div class="swiper-main-pagination absolute bottom-3 flex items-center justify-center rounded-xl w-fit px-3 text-white bg-black bg-opacity-70 z-10 left-1/2 transform -translate-x-1/2">
            </div>

            <div class="absolute top-0 flex justify-between w-full h-full text-white text-opacity-70 z-10 pointer-events-none hover:text-opacity-100">
                <div class="swiper-prev flex items-center h-full text-4xl px-3 pointer-events-auto md:px-5">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="swiper-next flex items-center h-full text-4xl px-3 pointer-events-auto">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>

        <!-- Slider thumbs -->
        <div thumbsSlider=""
             class="swiper-thumbs w-full h-[20%] mt-1 overflow-hidden rounded-b-xl md:w-[30%] md:mt-0 md:ml-1 md:h-full md:rounded-tr-xl md:rounded-bl-none xl:w-[300px]">
            <div class="swiper-wrapper w-full h-full">
                <div class="swiper-slide overflow-hidden">
                    <!-- 324*200 -->
                    <img src="https://images.unsplash.com/photo-1718115257239-7246f434a7b0?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </div>
                <div class="swiper-slide">
                    <!-- 324*200 -->
                    <img src="https://images.unsplash.com/photo-1718046254335-d9ff832c9c3c?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </div>
                <div class="swiper-slide">
                    <!-- 324*200 -->
                    <img src="https://images.unsplash.com/photo-1689602037070-fec2eca3f5b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </div>
                <div class="swiper-slide">
                    <!-- 324*200 -->
                    <img src="https://images.unsplash.com/photo-1718125188885-7ce699512931?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                         alt="" class="img-f">
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Carrusel imágenes -->
    <!-- Información -->
    <section class="w-full py-10 text-white lg:w-[40%] xl:w-[30%]">
        <div class="text-center max-w-7xl mx-auto">

            <h1 class="font-bold text-4xl">@Model.Titulo</h1>

            <div class="my-5">
                <p class="descripcion-texto font-medium px-5 text-gray-300 text-pretty">@Model.Descripcion</p>
                <button class="text-orange-600 hover:text-cyan-500" data-btn="btn-descripcion">
                    <span>Leer más</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>

            <a href="" class="group">
                <i class="fa-solid fa-location-dot text-orange-400 group-hover:text-cyan-500"></i>
                <span class="text-gray-300 font-light group-hover:text-white group-hover:font-normal">@Model.Ubicacion</span>
            </a>

            <!-- Lista de categorías -->
            <section class="w-full overflow-hidden mt-4">
                <!-- Slider main container -->
                <div class="swiper-categorias flex justify-center">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper flex gap-4 w-fit">
                        <!-- Slides -->
                        @if(Model.Categorias != null)
                        {
                            foreach(var categoria in Model.Categorias)
                            {
                                <a href="" class="swiper-slide flex items-center gap-1 w-fit group">
                                    <i class="@categoria.RutaIcono text-4xl text-white group-hover:text-orange-500"></i>
                                    <span class="text-xl text-gray-300 group-hover:text-white">@categoria.NombreCategoria</span>
                                </a>
                            }
                        }
                    </div>
                </div>
            </section>
            <!-- Fin Lista de categorías -->
            <!-- Precio -->
            <section class="flex justify-center gap-5 mt-5">
                <div class="flex items-center">
                    <span data-precio="valor" class="text-2xl font-semibold">@Model.Precio.ToString("C0", new System.Globalization.CultureInfo("es-CO"))</span>
                    <span class="text-lg text-gray-500">COP</span>
                </div>

                <a asp-area="Turista" asp-controller="Reserva" asp-action="Reserva" asp-route-idPublicacion="@Model.IdPublicacion"
                   class="group inline-block rounded-full bg-gradient-to-r from-orange-700 via-orange-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75">
                    <span class="block rounded-full bg-neutral-950 px-8 py-2 text-lg font-semibold group-hover:bg-transparent">
                        Reservar
                    </span>
                </a>
            </section>
            <!-- Fin Precio -->
        </div>
    </section>
    <!-- Fin Información -->
</div>


<!-- Información Calificación servicios -->
<section class="flex flex-col items-start gap-4 p-4 my-10 sm:flex-row sm:justify-center">
    <div class="w-full max-w-96">
        <!-- Información aliado -->
        <section class="flex items-center gap-2">
            <a asp-controller="Aliados" asp-action="Aliado" asp-route-id="@Model.IdAliado"
               class="block w-12 h-12 rounded-full overflow-hidden border-[2px] border-orange-500 hover:border-cyan-500">
                <img src="@Model.AvatarAliado" alt="Avatar de @Model.NombreAliado" class="img-f">
            </a>

            <div class="flex flex-col">
                <a asp-controller="Aliados" asp-action="Aliado" asp-route-id="@Model.IdAliado" class="font-medium">@Model.NombreAliado</a>
                <a asp-controller="Aliados" asp-action="Publicaciones" asp-route-id="@Model.IdAliado" class="text-sm mt-[-5px] text-gray-500 hover:text-black">@Model.PublicacionesAliado.ToString("N0") Publicaciones</a>
            </div>
        </section>
        <!-- Fin Información aliado -->
        <!-- Calificación -->
        <section class="flex flex-col gap-2 py-2">
            <div class="flex gap-2 items-end">
                <p class="text-5xl font-semibold">@Model.Puntuacion</p>

                <a asp-controller="Reseñas" asp-action="Reseñas" asp-route-idPublicacion="@Model.IdPublicacion" class="flex flex-col w-fit group">
                    <div class="flex w-fit relative text-xl text-orange-500 group-hover:text-orange-600">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <div style="width: @((Model.Puntuacion / 5) * 100)%" class="flex absolute top-0 left-0 overflow-hidden">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <span class="text-sm text-gray-500 group-hover:text-black group-hover:font-semibold">@Model.NumeroResenas.ToString("N0") Reseñas</span>
                </a>
            </div>

            <div>
                <div class="flex items-center gap-2">
                    <div class="flex items-center justify-between w-10">
                        <span class="font-medium">5</span>
                        <i class="fa-solid fa-star text-orange-500"></i>
                    </div>

                    <div class="w-full h-2 rounded-xl bg-gray-300 relative overflow-hidden">
                        <div class="absolute top-0 left-0 h-full bg-orange-500 w-[85%]"></div>
                    </div>

                    <span class="flex items-center justify-start w-14">1,800</span>
                </div>
                <div class="flex items-center gap-2">
                    <div class="flex items-center justify-between w-10">
                        <span class="font-medium">4</span>
                        <i class="fa-solid fa-star text-orange-500"></i>
                    </div>

                    <div class="w-full h-2 rounded-xl bg-gray-300 relative overflow-hidden">
                        <div class="absolute top-0 left-0 h-full bg-orange-500 w-[85%]"></div>
                    </div>

                    <span class="flex items-center justify-start w-14">1,800</span>
                </div>
                <div class="flex items-center gap-2">
                    <div class="flex items-center justify-between w-10">
                        <span class="font-medium">3</span>
                        <i class="fa-solid fa-star text-orange-500"></i>
                    </div>

                    <div class="w-full h-2 rounded-xl bg-gray-300 relative overflow-hidden">
                        <div class="absolute top-0 left-0 h-full bg-orange-500 w-[85%]"></div>
                    </div>

                    <span class="flex items-center justify-start w-14">1,800</span>
                </div>
                <div class="flex items-center gap-2">
                    <div class="flex items-center justify-between w-10">
                        <span class="font-medium">2</span>
                        <i class="fa-solid fa-star text-orange-500"></i>
                    </div>

                    <div class="w-full h-2 rounded-xl bg-gray-300 relative overflow-hidden">
                        <div class="absolute top-0 left-0 h-full bg-orange-500 w-[85%]"></div>
                    </div>

                    <span class="flex items-center justify-start w-14">1,800</span>
                </div>
                <div class="flex items-center gap-2">
                    <div class="flex items-center justify-between w-10">
                        <span class="font-medium">1</span>
                        <i class="fa-solid fa-star text-orange-500"></i>
                    </div>

                    <div class="w-full h-2 rounded-xl bg-gray-300 relative overflow-hidden">
                        <div class="absolute top-0 left-0 h-full bg-orange-500 w-[85%]"></div>
                    </div>

                    <span class="flex items-center justify-start w-14">1,800</span>
                </div>
            </div>
        </section>
        <!-- Fin Calificación -->
    </div>

    <!-- Servicios -->
    <section class="flex flex-col gap-2 w-full  sm:max-w-lg">
        @if (Model.ServiciosHabitacion != null && Model.ServiciosHabitacion.Any())
        {
            <details class="group overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-2 bg-white p-4 text-gray-900 transition">
                    <span class="text-sm font-medium">
                        Servicios de Habitación
                    </span>

                    <span class="transition  group-open:-rotate-180">
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </summary>

                <!-- Lista servicios -->
                <div class="border-t border-gray-200 bg-white">
                    <div class="flex items-center justify-evenly flex-wrap gap-2 p-4">
                        @foreach (var servicio in Model.ServiciosHabitacion)
                        {
                            <div>
                                <i class="@servicio.Icono"></i>
                                <span class="text-sm text-gray-700">@servicio.Nombre</span>
                            </div>
                        }
                    </div>
                </div>
                <!-- Fin Lista servicios -->
            </details>
        }

        @if (Model.ServiciosEstablecimiento != null && Model.ServiciosEstablecimiento.Any())
        {
            <details class="group overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-2 bg-white p-4 text-gray-900 transition">
                    <span class="text-sm font-medium">
                        Servicios de Habitación
                    </span>

                    <span class="transition  group-open:-rotate-180">
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </summary>

                <!-- Lista servicios -->
                <div class="border-t border-gray-200 bg-white">
                    <div class="flex items-center justify-evenly flex-wrap gap-2 p-4">
                        @foreach (var servicio in Model.ServiciosEstablecimiento)
                        {
                            <div>
                                <i class="@servicio.Icono"></i>
                                <span class="text-sm text-gray-700">@servicio.Nombre</span>
                            </div>
                        }
                    </div>
                </div>
                <!-- Fin Lista servicios -->
            </details>
        }

        @if (Model.ServiciosAccesibilidad != null && Model.ServiciosAccesibilidad.Any())
        {
            <details class="group overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-2 bg-white p-4 text-gray-900 transition">
                    <span class="text-sm font-medium">
                        Servicios de Habitación
                    </span>

                    <span class="transition  group-open:-rotate-180">
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </summary>

                <!-- Lista servicios -->
                <div class="border-t border-gray-200 bg-white">
                    <div class="flex items-center justify-evenly flex-wrap gap-2 p-4">
                        @foreach (var servicio in Model.ServiciosAccesibilidad)
                        {
                            <div>
                                <i class="@servicio.Icono"></i>
                                <span class="text-sm text-gray-700">@servicio.Nombre</span>
                            </div>
                        }
                    </div>
                </div>
                <!-- Fin Lista servicios -->
            </details>
        }


        @if (Model.Restricciones != null && Model.Restricciones.Any())
        {
            <details class="group overflow-hidden rounded border border-gray-300 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-2 bg-white p-4 text-gray-900 transition">
                    <span class="text-sm font-medium">
                        Restricciones
                    </span>

                    <span class="transition  group-open:-rotate-180">
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </summary>

                <!-- Lista servicios -->
                <div class="border-t border-gray-200 bg-white">
                    <div class="flex items-center justify-evenly flex-wrap gap-2 p-4">
                        @foreach (var restriccion in Model.Restricciones)
                        {
                            <div>
                                <i class="@restriccion.RutaIcono"></i>
                                <span class="text-sm text-gray-700">@restriccion.NombreRestriccion</span>
                            </div>
                        }
                    </div>
                </div>
                <!-- Fin Lista servicios -->
            </details>
        }
    </section>
    <!-- Fin Servicios -->
</section>
<!-- Fin Información Calificación servicios -->
<!-- Mosaico imágenes -->
<section class="py-10 bg-zinc-950">
    <div class="contenedor-mosaico max-w-7xl mx-auto">
        <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
           class="w-full h-full rounded-xl overflow-hidden hover:-scale-[-.98] transition-all mosaico-1">
            <img src="https://images.unsplash.com/photo-1718125188885-7ce699512931?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </a>
        <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
           class="w-full h-full rounded-xl overflow-hidden hover:-scale-[-.98] transition-all mosaico-2">
            <img src="https://images.unsplash.com/photo-1718019668172-5380fd58f2c5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </a>
        <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
           class="w-full h-full rounded-xl overflow-hidden hover:-scale-[-.98] transition-all mosaico-3">
            <img src="https://images.unsplash.com/photo-1718137654436-b9d3661a90d4?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </a>
        <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
           class="w-full h-full rounded-xl overflow-hidden hover:-scale-[-.98] transition-all mosaico-4">
            <img src="https://images.unsplash.com/photo-1718051653501-c5530b8277c6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </a>
        <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
           class="w-full h-full rounded-xl overflow-hidden hover:-scale-[-.98] transition-all mosaico-5">
            <img src="https://images.unsplash.com/photo-1718137623411-7816fda25a14?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </a>
        <a href="https://lipsum.app/id/60/1600x1200" data-fancybox="gallery"
           class="w-full h-full rounded-xl overflow-hidden hover:-scale-[-.98] transition-all mosaico-6">
            <img src="https://images.unsplash.com/photo-1718111990329-cfe23a502e06?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="" class="img-f">
        </a>
    </div>
</section>
<!-- Fin Mosaico imágenes -->
<!-- Servicio adicionales -->
@if (Model.ServiciosAdicionales != null && Model.ServiciosAdicionales.Any())
{
    <section class="w-full max-w-7xl mb-10 mx-auto lg:p-5 lg:my-10">
        <form class="flex flex-col gap-4 relative lg:flex-row lg:gap-0">
            <div class="absolute w-full h-52 bg-gradient-to-r from-cyan-700 via-cyan-600 to-cyan-500 -z-10 lg:w-[50%] lg:right-0 lg:rounded-xl lg:rounded-tl-[4rem] b-s-93">
            </div>

            <div class="flex flex-col items-center justify-center gap-5 w-full h-52 text-white lg:order-2 lg:w-[600px]">
                <div>
                    <h2 class="text-4xl font-semibold">Servicios Adicionales</h2>
                    <p class="text-gray-100 text-lg">
                        Elige los servicios adicionales que prefieras
                    </p>
                </div>

                <div class="flex gap-4 sm:flex-col sm:gap-1">
                    <div class="flex items-center">
                        <span data-precio="valor" class="text-2xl font-semibold">@Model.Precio.ToString("C0")</span>
                        <span class="text-lg text-gray-100">COP</span>
                    </div>

                    <button type="submit"
                    class="group w-full text-center inline-block rounded-full bg-gradient-to-r from-orange-700 via-orange-500 to-yellow-500 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75">
                        <span class="block rounded-full bg-cyan-600 px-8 py-2 text-lg font-semibold group-hover:bg-transparent">
                            Reservar
                        </span>
                    </button>
                </div>
            </div>

            <!-- Servicios adicionales checkbox -->
            <div class="bg-white bg-opacity-80 grid grid-cols-2 gap-2 p-5 mx-5 rounded-2xl sm:grid-cols-3 lg:mt-10 lg:mx-0 backdrop-blur-xl b-s-13">
                @foreach (var servicioAdicional in Model.ServiciosAdicionales)
                {
                    <div>
                        <label for="@servicioAdicional.IdServicioAdicional" data-servicio="adicional"
                               class="flex items-center justify-center gap-2 text-xl p-4 border border-cyan-400 rounded-xl shadow-xl transition-all cursor-pointer">
                            <i class="@servicioAdicional.Servicio.RutaIcono text-4xl text-cyan-400"></i>
                            <span>@servicioAdicional.Servicio.NombreServicio</span>
                        </label>
                        <input type="checkbox" value="@servicioAdicional.PrecioServicioAdicional" id="@servicioAdicional.IdServicioAdicional" class="hidden">
                    </div>
                }
            </div>
            <!-- Fin Servicios adicionales checkbox -->
        </form>
    </section>
    <!-- Servicio adicionales -->


}




<!-- Top reseñas -->
<section class="text-white bg-zinc-950 py-10 px-5">
    <h2 class="text-4xl font-semibold">Reseñas</h2>
</section>
<!-- Fin Top reseñas -->


@section Scripts {
    <script src="~/js/page/publicacion.js" type="module"></script>
}