@model PerfilPublicoVM


@{
    ViewData["Title"] = "Perfil";
}


@section Styles {
    <!-- Estilos custom -->
    <link rel="stylesheet" href="~/css/perfil/perfil-publico.css">
}


<section class="banner b-sc-1">
    <img src="@Model.Banner" alt="@($"Banner del usuairo {Model.UserName}")" class="img-f">
</section>

<div class="perfil b-sc-1">
    <section class="perfil-avatar">
        <div class="perfil-avatar-img b-s-93">
            <img src="@Model.Avatar" alt="@($"Avatar del usuario {Model.UserName}")" class="img-f">
        </div>
        <div class="avatar-text-contenedor">
            @if (Model.EsAliado)
            {
                <button class="perfil-avatar-text">
                    <h3>Publicaciones</h3>
                    <span>@Model.NumeroPulicaciones</span>
                </button>
            }
            <button class="perfil-avatar-text">
                <h3>Reseñas</h3>
                <span>@Model.NumeroResenas</span>
            </button>
            <div class="perfil-avatar-text">
                <h3>Reservas</h3>
                <span>@Model.NumeroReservas</span>
            </div>
        </div>
    </section>
    <section class="perfil-info">
        <section>
            <div class="perfil-info-text">
                <h1>@Model.UserName</h1>
                @if (Model.Verificado)
                {
                    <i class="fa-solid fa-suitcase-rolling"></i>
                }
            </div>
            @if (Model.EsAliado)
            {
                <div class="perfil-info-adicional">
                    <div class="info-adicional-nota">
                        <span>@Model.Puntuacion</span>
                        <div>
                            <div class="adicional-estrellas-contenedor">
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <div class="adicional-estrellas-full" style="@($"width: {(Model.Puntuacion / 5) * 100}%")" ;>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <span>@Model.RazonSocial</span>
                        </div>
                    </div>
                    <div class="info-adicional-ubicacion">
                        <a href="">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>@Model.Direccion</span>
                        </a>
                        <span data-aliado-estado="@Model.AliadoEstado.ToString().ToLower()" class="aliado-estado">@Model.AliadoEstado</span>
                    </div>
                </div>
            }
        </section>
        <nav>
            <ul class="perfil-nav">
                @if (Model.EsAliado)
                {
                    <li>
                        <div href="" class="activo">
                            <i class="fa-solid fa-book-open"></i>
                            <span>Publicaciones</span>
                        </div>
                    </li>
                }
                <li>
                    <div>
                        <i class="fa-solid fa-book-open-reader"></i>
                        <span>Reseñas</span>
                    </div>
                </li>
            </ul>
        </nav>
    </section>
</div>
