@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<nav class="nav-menu-lateral">
    <input type="checkbox" id="nav-menu-lateral" checked>
    <ul class="menu-lateral-contenido b-s-93">
        <label for="nav-menu-lateral" class="lateral-contenido-label">
            <span><i class="fa-solid fa-gear"></i>Cuenta</span>
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-arrow-left"></i>
        </label>
        <div class="hr"></div>
        <li>
            <a class="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                <i class="fa-solid fa-user"></i><span>Perfil</span>
            </a>
        </li>
        <li>
            <a class="@ManageNavPages.AliadoNavClass(ViewContext)" id="aliado" asp-page="./Aliado">
                <i class="fa-solid fa-suitcase"></i><span>Aliado</span>
            </a>
        </li>
        <li>
            <a class="@ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                <i class="fa-solid fa-envelope"></i><span>Correo</span>
            </a>
        </li>
        <li>
            <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                <i class="fa-solid fa-lock"></i><span>Contraseña</span>
            </a>
        </li>
        @if (hasExternalLogins)
        {
            <li id="external-logins">
                <a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">
                    <i class="fa-solid fa-lock"></i><span>External logins</span>
                </a>
            </li>
        }
        <li>
            <a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
                <i class="fa-solid fa-mobile-screen-button"></i><span>Autenticación</span>
            </a>
        </li>
    </ul>
</nav>
