@model Dviaje.Models.VM.PaginacionVM


<ol class="flex justify-center items-center gap-1 text-lg mt-20">
    @if (Model.PaginaActual > 1)
    {
        <li class="">
            <a href="?pagina=@(Model.PaginaActual - 1)"
               class="inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 hover:bg-orange-500 hover:text-white">
                <span class="sr-only">Prev Page</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                          clip-rule="evenodd" />
                </svg>
            </a>
        </li>
    }
    

    @if (Model.PaginaActual >= 4 && Model.PaginasTotales >= 6)
    {
        <li>
            <a href="?pagina=1"
               class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 hover:border-orange-500 hover:bg-orange-500 hover:text-white">
                1
            </a>
        </li>

        <li>
            <div class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
                ...
            </div>
        </li>

        int rango = Model.PaginaActual + 2;
        if (Model.PaginaActual + 2 >= Model.PaginasTotales) rango = Model.PaginasTotales;

        for (int i = Model.PaginaActual - 2; i <= rango; i++)
        {
            <li>
                <a href="?pagina=@i"
                   class="@(i == Model.PaginaActual ? "block size-9 rounded border border-orange-500 bg-orange-500 text-center leading-8 text-white" : "block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 hover:border-orange-500 hover:bg-orange-500 hover:text-white")">
                    @i
                </a>
            </li>
        }

        if (Model.PaginaActual + 2 < Model.PaginasTotales)
        {
            <li>
                <div class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
                    ...
                </div>
            </li>

            <li>
                <a href="?pagina=@Model.PaginasTotales"
                   class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 hover:border-orange-500 hover:bg-orange-500 hover:text-white">
                    @Model.PaginasTotales
                </a>
            </li>
        }
    }
    else
    {
        for (int i = 1; i <= Model.PaginasTotales && i <= 5; i++)
        {
            <li>
                <a href="?pagina=@i"
                   class="@(i == Model.PaginaActual ? "block size-9 rounded border border-orange-500 bg-orange-500 text-center leading-8 text-white" : "block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 hover:border-orange-500 hover:bg-orange-500 hover:text-white")">
                    @i
                </a>
            </li>
        }
        if (Model.PaginasTotales > 5)
        {
            <li>
                <div class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
                    ...
                </div>
            </li>

            <li>
                <a href="?pagina=@Model.PaginasTotales"
                   class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900 hover:border-orange-500 hover:bg-orange-500 hover:text-white">
                    @Model.PaginasTotales
                </a>
            </li>
        }
    }


    @if (Model.PaginaActual < Model.PaginasTotales)
    {
        <li>
            <a href="?pagina=@(Model.PaginaActual + 1)"
               class="inline-flex size-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 hover:bg-orange-500 hover:text-white">
                <span class="sr-only">Next Page</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd" />
                </svg>
            </a>
        </li>
    }
</ol>

<p class="text-center mt-4 font-light">
    @($"Mostrando resultados de {((Model.ResultadosMostrados * (Model.PaginaActual - 1)) + 1)} a {Math.Min(Model.ResultadosMostrados * Model.PaginaActual, Model.ResultadosTotales)} de {Model.ResultadosTotales}")
</p>
